.page-header {
  margin-bottom: $l-size;
  padding: $l-size 0;
  background: $light-grey;

  &__title {
    margin: 0;
    font-weight: 300;
    
    span {
      color: $blue;
      font-family: $raleway-bold;
    }
  }
  &__actions {
    margin-top: $l-size;
  }
}